.horizontal {
    display: flex;
}

.vertical {
    display: inline-flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    height: 60px;
    width: 60px;
}

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: 20px;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    margin-top: auto;
}

.gitLogo{
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
}

.gitLogo:hover{
    max-width: 30px;
    max-height: 30px;
}

p{
    margin-right: 10px;
}